* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $secondaryFontColor;
}


.btn {
    background-color: $tertiaryFontColor;
    padding: 15px 25px;
    font-weight: 800;
    font-family: $secondaryFontFamily;
}

.header {
    width: 100%;
    background-image: url(../img/fao-schwarz-2.png), linear-gradient(to bottom, rgba(22, 25, 60, 1), rgba(22, 25, 60, 0));
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 48.125rem; // debug, da spostare in media query
    &__text {
        width: 50%;
        color: $secondaryFontColor;
        &__sub {
            font-weight: 800;
            font-family: $secondaryFontFamily;
        }
        &__title {
            width: 86%;
            margin: 10px auto 20px auto;
            font-size: $largestFont;
            font-family: $tertiaryFontFamily;
            letter-spacing: 2px;
        }
        &__action {
            margin : auto;
            width: 176px;
            .btn {
                font-size: $mediumFont;
            }
        }
    }
    &__videolink {
        position: absolute;
        bottom : 3%;
        left: 5%;
        display: flex;
        &__text {
            margin-left: 20px;
            text-decoration: underline;
            font-family: $primaryFontFamily;

        }
    }
    &__hotairballoon {
        position: absolute;
        bottom: -4%;
        right: 6%;
    }
}
